uploads/
  .gitkeep


# Dependencies
node_modules/
jspm_packages/

# Build and output
dist/
build/
tmp/
temp/
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database
*.sqlite
*.db
*.db-journal
dump.rdb

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Optional: lock files (ignore if you want only one package manager)
# yarn.lock
# package-lock.json
# pnpm-lock.yaml

AWS_IAM_POLICY.json
AWS_S3_SETUP.md